@import "../../styles/main.module.scss";

.showMore {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.showLess {
  display: none;
}

.projects {
  padding: 0 128px;
  grid-column: 1 / span 2;
  grid-row: 5;
  @include sm {
    grid-column: 1 / span 1;
    grid-row: 6;
    padding: 48px 24px;
  }

  .projectsContainer {
    width: 90%;
    margin: 0 auto;

    .projectsDiv {
      display: flex;
      flex-direction: column;
      @include sm {
        gap: 28px;
      }

      .projectsTitle {
        color: $darkPink;
        font-size: 24px;
      }

      .projectBtn {
        padding: 10px 12px;
        width: max-content;
        background-color: $black;
        border: 1px solid $darkPink;
        color: $darkPink;
        cursor: pointer;
        border-radius: 2px;

        &:hover {
          background-color: $darkPink;
          color: $black;
        }
      }

      .projectImage {
        width: 65%;
        margin: 0 auto;
        padding: 28px 0;
      }

      .projectWrapper {
        margin: 0 auto;
        .projectUrl {
          color: $pink;
          font-size: 20px;

          &:hover {
            color: $orange;
          }
        }
      }

      .projectText {
        width: 65%;
        margin: 0 auto;
        font-size: 18px;
        color: $darkPink;

        @include sm {
          width: 85%;
        }
      }
    }
  }
}
