@import "../../styles/main.module.scss";

.button {
  padding: 10px 12px;
  width: max-content;
  border: 1px solid $tertiary;
  cursor: pointer;
  border-radius: 5px;
  @include box;

  @include md {
    font-size: 16px;
  }
}
