@import '../../styles/main.module.scss';

.button {
    padding: 10px;
    width: max-content;
    background-color: $lightBlack;
    color: $orange;
    font-family: montserrat;
    font-weight: 700;
    font-size: 18px;
    place-self: self-end;
    cursor: pointer;
    @include box;
    
    @include md {
        font-size: 16px;
      }
    
    
    
}

