@font-face {
    font-family: montserrat;
    src: url("../../montserrat-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: inter;
    src: url("../../Inter-VariableFont_slnt_wght.ttf");
  }