@import "abstracts/_mixins.module.scss";
@import "abstracts/_breakpoints.module.scss";
@import "abstracts/_fonts.module.scss";

/* Variables  */
$black: #000000;
$lightBlack: #1d1d1b;
$orange: #f7931e;
$darkOrange: #ff8d0b;
$redish: #bc2633;

$mn: 48px;


/* Global styles */
h2,
h4 {
  color: $redish;
}



h2 { 
  
    font-size: 32px;
}
h4 {
  color: $redish;
  margin: 0 0 8px 0;
}
p {
  margin: 0;
  line-height: 1.5;
}

body {
  overflow-x: hidden;
  background-color: $lightBlack;
  font-family: montserrat;

  .main {
    background-color: $lightBlack;
    color: $orange;
    max-width: 1440px;
    display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 80px repeat(4, auto);
margin: 0 auto;

    .btnTwo {
      grid-column: 2 / span 1 ;
     grid-row: 1;
      place-self: end;
      margin-top: $mn;
     
    }

    .leftContent {
     grid-column: 1 / span 1 ;
     grid-row: 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      place-items: center;
      z-index: 2;
      width: 50%;
      height: 100%;
  /*     position: fixed;
      top:150px;
      bottom: 0;
      right: 0;
      left: 0; */

      .face {
        grid-row: 1;
        grid-column: 1;
        margin: 18px 0 0 63px;
        z-index: 1;
      }
      .name {
        grid-row: 1;
        grid-column: 1;
        margin: -48px 0 0 0;
        z-index: 2;
      }
    }

    
  }
}
