@import "abstracts/_mixins.module.scss";
@import "abstracts/_breakpoints.module.scss";
@import "abstracts/_fonts.module.scss";

/* Variables  */
$black: #000000;
$lightBlack: #1d1d1b;
$orange: #f7931e;
$darkOrange: #ff8d0b;
$redish: #bc2633;

$mn: 48px;

/* Global styles */ 
h2, h4 {
  color: $redish; 
}
 h4 {
  color: $redish; 
  margin: 0 0  8px 0;
}
p {
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: $lightBlack;
  font-family: montserrat;

  .main {
    background-color: $lightBlack;
    color: $orange;
    width: 1440px;
    margin: 0 auto;
    display: grid;
    

  /*     .box {
      z-index: 1;
     
      width: 80%;
      height: 50%;
position: fixed;  
top: 0;  
    @include box;
   
    }
  */

    .leftContent {
      position: fixed;
      top: 0;
      bottom: $mn*2;
      left: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      place-items: center;
      z-index: 2;
      width: 50%;
      margin-top: 150px;
     

      .face {
        grid-row: 1;
        grid-column: 1;
        margin: 18px 0 0 63px;
        z-index: 1;
      }
      .name {
        grid-row: 1;
        grid-column: 1;
        margin: -48px 0 0 0;
        z-index: 2;
      }
    }

    .btns {
      width: max-content;
      position: fixed;
      display: grid;
      z-index: 100;

      
      .btnTwo {
        grid-column: 1;
        grid-row: 1;
        z-index: 2;
        position: fixed;
      right: $mn*3;
      top: $mn;
      }
    }

    .rightContent {
      width: 50%;
      z-index: 2;
      margin: $mn*6 $mn*13;
    }
  }
}
