@import 'abstracts/_mixins.module.scss';
@import 'abstracts/fonts.module.scss';

/* Variables  */
$black: #000000;
$lightBlack: #1D1D1B; 
$orange: #F7931E; 
$darkOrange: #ff8d0b;
$redish: #BC2633;

/* Global styles */
h3 {
  color: $redish;
  margin-left: 38px;
  margin-top: -28px;
}

p {
  font-weight: 300;
  font-size: 22px;
  width: 50%;
  margin-left: 48px;

}




body {
  
  overflow-x: hidden;
  background-color: $lightBlack;
  display: grid;
 justify-content: center;
 align-content: center;
  font-family: montserrat;
  padding: 0 24px;

  
  .main {
    background-color: $lightBlack;
    color: $orange;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 100px 1fr;

   
  
    
     


    .leftContent {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      place-items: center;
     position: fixed;
     right: 0;
     top:0;
     bottom: 0;
     left:0;
    
    


      .face {
        grid-row: 1 ;
        grid-column: 1;
        margin: 18px 0 0 63px;
        max-width: 100%;
        z-index: 1;
        
        
      }
      .name {
        
        grid-row: 1 ;
        grid-column: 1;
        margin: -48px 0 0 0;
        z-index: 2;
        max-width: 100%;
       

      
       
      }
    }

    
    .rightContent {
      grid-column: 2 / span 1;
      grid-row: 2;
      padding: 0 28px;
      font-size: 1.2vw;

     
      .pageContent {
        grid-row: 2;
        margin-top: -300px;
     
        
      } 

      
    }
    
  }

}
