@import "../../styles/main.module.scss";

.skills {
  grid-column: 1 / span 2 ;
  grid-row: 3;
  place-self: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: $mn ;
  @include sm {
    grid-column: 1 / span 1 ;
 grid-row: 4;
 padding-top: 0;
 width: 80%;
 @include sm {
   width: 85%;
 }

  }

  h2 {
    cursor: pointer;

    @include sm {
      padding-bottom: 24px;
    }
  }

  .clickMe {
    font-size: 16px;
    color: "#f7931e";
    cursor: default;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .experiences {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -$mn;
  
   

    .exp {
      
      display: inline-flex;
      flex-direction: column;
      gap: 8px;

      
      
        
      

      .city {
        font-size: 14px;
      }

      .jobTitleDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $redish;
        margin: -4px 0px;
          p {
            @include sm {
              font-size: 14px;
              padding-bottom: 16px;
            }
          }

        @include sm {
          font-size: 24px;
          flex-direction: column;
          
         }
      }
      h4 {
        @include sm {
          width: 100%;
         padding: 24px 0 4px 0 ;
         }
      }
      p {
        padding: 0 0 0 24px;
        @include md {
          font-size: 16px; 
        }

        @include sm {
        
         width: 100%;
         }
      }

      p {
        @include sm {
        
         margin-bottom: -4px;
         }
      }
    }
  }



  
  
  .arrowToSkills {
    padding: $mn $mn * 6;
    font-size: 25px;
    
    @include lg {
      font-size: 22px;
    }

    @include breakpoint(800px) {
      font-size: 22px;
      padding: $mn $mn * 4;
    }

    @include sm {
     
      padding:  $mn * 2  $mn * 4;
    }

    @include breakpoint(480px) {
      font-size: 22px;
      padding: $mn $mn * 3;
    }
  }

  
  
 
  
}



.skillsDiv {
  grid-column: 1 / span 2;
  grid-row: 4;
  z-index: 1;
  padding-top: $mn*2 ;
  width: 50%;
  place-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  @include sm {
    grid-column: 1 / span 1 ;
 grid-row: 5;
 width: 90%;
 gap: 24px;
 padding-top: 0;
  }

  

  .softSkillsTitle {
   grid-row: 1;
    
  }

  .softSkills {
    padding-bottom: 24px;
    color: $darkOrange;
    font-size: 20px;
    grid-row: 2;
    text-align: center;

    @include sm {
      width: 95%;
      padding-bottom: $mn;
    }
    
  }

  svg {
    cursor: pointer;
  }

  .hardIcons {
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: -204px;
    width: 90%;
    @include breakpoint(800px) {
      margin-top: -254px;
    }
@include sm {
  margin-top: 0px; 
  width: 100%;
}
    
    

    .react {
      width: 100px;
      height: 100px;

      @include sm {
        width: 70px;
      height: 70px;
      }
    }

    .figma,  .github, 
    .js ,
    .sass ,
    .ts ,
    .htmlfive,
    .cssthree {
      width: 80px;
      height: 80px;
    }

    @include md {
      .figma,  .github, 
    .js ,
    .sass ,
    .ts ,
    .htmlfive,
    .cssthree {
      width: 60px;
      height: 60px;
    }
    }
    @include sm {
      .figma,  .github, 
    .js ,
    .sass ,
    .ts ,
    .htmlfive,
    .cssthree {
      width: 50px;
      height: 50px;
    }
    }
  }
}

.arrowToContact {
  padding: $mn * 2 $mn * 6;
  font-size: 25px;
  grid-row: 4;

  @include lg {
    padding: $mn  $mn * 4;
    font-size: 22px;
  }
}