@import "../../styles/main.module.scss";

.skills {
  grid-column: 1 / span 2 ;
  grid-row: 3;
  place-self: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: $mn ;


  h2 {
    cursor: pointer;
  }

  .clickMe {
    font-size: 16px;
    color: "#f7931e";
    cursor: default;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .experiences {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -$mn;
   

    .exp {
      
      display: inline-flex;
      flex-direction: column;
      gap: 8px;

      .city {
        font-size: 14px;
      }

      .jobTitleDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $redish;
        margin: -4px 0px;
      }
      p {
        padding: 0 0 0 24px;
        
      }
    }
  }


  .skillsDiv {
    padding-top: $mn*2 ;
    

    .softSkillsTitle {
      margin-top: -14px;
      
    }

    .softSkills {
      padding-bottom: 24px;
      width: 80%;
      color: $darkOrange;
      font-size: 20px;
    }

    svg {
      cursor: pointer;
    }

    .hardIcons {
      z-index: 2;
      display: flex;
      width: 80%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 24px;

      .figma {
        width: 80px;
        height: 80px;
      }
      .github {
        width: 80px;
        height: 80px;
      }
      .js {
        width: 80px;
        height: 80px;
      }
      .react {
        width: 100px;
        height: 100px;
      }

      .sass {
        width: 80px;
        height: 80px;
      }
      .ts {
        width: 80px;
        height: 80px;
      }
      .htmlfive {
        width: 80px;
        height: 80px;
      }
      .cssthree {
        width: 80px;
        height: 80px;
      }
    }
  }



  
  
  .arrowToSkills {
    padding: $mn $mn * 6;
    font-size: 25px;
  }

  
 
  .arrowToContact {
    padding: $mn * 2 $mn * 6;
    font-size: 25px;
  }
}
