@import "../../styles/main.module.scss";

.skills {
  grid-column: 1 / span 2;
  grid-row: 3;
  place-self: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  @include md {
    width: 75%;
  }

  @include sm {
    grid-column: 1 / span 1;
    grid-row: 4;

    width: 85%;
    margin-right: 12px;
  }

  h2 {
    cursor: pointer;
    .leftArrow {
      @include breakpoint(500px) {
        display: none;
      }
    }
    .upArrow {
      display: none;
      @include breakpoint(500px) {
        display: block;
      }
    }

    @include sm {
      padding-bottom: 24px;
    }
  }

  .clickMe {
    font-size: 16px;
    color: "#f7931e";
    cursor: default;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .experiences {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -$mn;
    

    .exp {
      display: inline-flex;
      flex-direction: column;
      position: relative;
      gap: 8px;
      padding: 28px;
      margin-top: 28px;
     @include backgroundBox;
     color: $secondary;

      .city {
        font-size: 14px;
      }

      .jobTitleDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: -4px 0px;
        color: $primary;
        
        h4 {
        
          @include sm {
            width: 100%;
            padding: 24px 0 4px 0;
          }
        }
        .expSpan {
          color: $primary;
          @include textShadowSmaller;
          @include sm {
            font-size: 14px;
            padding-bottom: 16px;
          }
        }

        @include sm {
          font-size: 24px;
          flex-direction: column;
        }
      }
     
      p {
        padding: 0 0 0 24px;
        @include md {
          font-size: 16px;
        }

        @include sm {
          padding: 0;
          width: 100%;
        }
      }

      
    }
  }

  .arrowToSkills {
    padding: $mn;
    font-size: 25px;
    place-self: center;

    @include lg {
      font-size: 22px;
    }

    @include breakpoint(800px) {
      font-size: 22px;
    }

    @include sm {
    }

    @include breakpoint(480px) {
      font-size: 22px;
    }
  }
}

.skillsDiv {
  grid-column: 1 / span 2;
  grid-row: 4;
  z-index: 1;
  padding: 60px 0;
  width: 50%;
  place-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @include sm {
    grid-column: 1 / span 1;
    grid-row: 5;
    width: 90%;
    gap: 24px;
  }

  .softSkillsTitle {
    grid-row: 1;
  }

  .softSkills {
    padding-bottom: 24px;
    color: $secondary;
    font-size: 20px;
    grid-row: 2;
    text-align: center;
    position: relative;

    @include sm {
      width: 95%;
      padding-bottom: $mn;
    }

    .softText {
  
      @include backgroundBox;
      
    }
  }

  svg {
    cursor: pointer;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    .hardIcons {
      grid-row: 3;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 24px;
      padding: 96px 0;

      @include sm {
        padding: 0;
        width: 100%;
      }

      .react {
        width: 100px;
        height: 100px;

        @include sm {
          width: 25%;
          height: 25%;
        }
      }

      .figma,
      .github,
      .js,
      .sass,
      .ts,
      .htmlfive,
      .cssthree {
        width: 80px;
        height: 80px;
      }

      @include md {
        .figma,
        .github,
        .js,
        .sass,
        .ts,
        .htmlfive,
        .cssthree {
          width: 60px;
          height: 60px;
        }
      }
      @include sm {
        .figma,
        .github,
        .js,
        .sass,
        .ts,
        .htmlfive,
        .cssthree {
          width: 20%;
          height: 20%;
        }
      }
    }
  }
}

.arrowToContact {
  padding-top: 70px;
  font-size: 25px;
  place-self: center;
}
