@import '../../styles/main.module.scss';

.bigName {
  max-width: 100%;
  padding-bottom: 24px;
  display: none;
}
h3 {
  color: $redish;
}


p {
  font-weight: 300;
  font-size: 22px;
  width: 85%;

}
