@import "../../styles/main.module.scss";

.rightContent {
  grid-area: content;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .about {
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-top: $mn*3;
    padding-left: $mn;

    h1 {
      font-size: 40px;
    }

    h2 {
      padding: 0 0 10px 48px;
    }

    p {
      font-weight: 300;
      font-size: 22px;
      width: 50%;
      padding: 0 0 50px 68px;
    }
    .arrow {
      padding: $mn $mn * 6;
      font-size: 25px;
    }
  }
}
