@import "../../styles/main.module.scss";

.rightContent {
  grid-column: 2 / span 1;
  grid-row: 2;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include sm {
    grid-column: 1 / span 1;
    grid-row: 3;
    padding-top: 48px;
  }

  .about {
    z-index: 2;
    display: flex;
    flex-direction: column;
    @include sm {
      place-self: center;
      //padding: 158px 0 0 0;
    }

    @keyframes wave {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }

    h1 {
      font-size: 40px;

      @include lg {
        font-size: 34px;
      }
      @include md {
        font-size: 30px;
      }
      @include breakpoint(800px) {
        font-size: 30px;
        padding: 0 0 0 48px;
      }
      @include sm {
        font-size: 34px;
      }
    }

    h2 {
      padding: 0 0 10px 48px;
      font-size: 30px;
      margin-top: -16px;
      color: $secondary;

      @include lg {
        font-size: 28px;
      }
      @include md {
        font-size: 24px;
        padding: 0 0 10px 38px;
      }
      @include breakpoint(800px) {
        font-size: 20px;
        padding: 0 28px 0 68px;
      }
      @include sm {
        font-size: 24px;
      }

      span {
        display: inline-block;
      }

      &:hover span {
        animation: wave 1.2s ease-in-out 1;
      }

      span:nth-child(1) {
        animation-delay: 0s;
      }
      span:nth-child(2) {
        animation-delay: 0.1s;
      }
      span:nth-child(3) {
        animation-delay: 0.2s;
      }
      span:nth-child(4) {
        animation-delay: 0.3s;
      }
      span:nth-child(5) {
        animation-delay: 0.4s;
      }
      span:nth-child(6) {
        animation-delay: 0.5s;
      }
      span:nth-child(7) {
        animation-delay: 0.6s;
      }
      span:nth-child(8) {
        animation-delay: 0.7s;
      }
      span:nth-child(9) {
        animation-delay: 0.8s;
      }
    }

    p {
      font-weight: 300;
      font-size: 22px;
      width: 50%;
      padding: 0 0 24px 68px;
      color: $primary;

      @include lg {
        font-size: 20px;
        padding: 0 0 28px 68px;
      }
      @include md {
        font-size: 18px;
        padding: 0 0 30px 58px;
      }
      @include breakpoint(800px) {
        font-size: 18px;
        padding: 0 0px 0 78px;
      }
      @include sm {
        font-size: 20px;
      }
    }
    .arrow {
      padding: $mn $mn * 4;
      font-size: 25px;

      @include lg {
        font-size: 22px;
      }
      @include md {
        font-size: 20px;
      }
      @include breakpoint(800px) {
        font-size: 22px;
        padding: $mn $mn * 3;
      }

      @include sm {
        margin: 0 auto;
      }
    }
  }

  .projectsDiv {
    display: flex;
    gap: 12px;

    .projectUrl {
      color: $secondary;
      font-size: 16px;

      &:hover {
        color: $primary;
      }
    }

    @include md {
      padding: 24px 0px;
    }
  }

  .footer {
    @include lg {
      width: max-content;
      margin: 0 auto;
      padding-top: 32px;
    }
  }
}
