@import "../../styles/main.module.scss";

.contact {
  grid-column: 1 / span 2;
  grid-row: 6;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  z-index: 5;
  padding-top: 128px;


  @include sm {
    grid-column: 1 / span 1;
    grid-row: 7;
    padding-top: 28px;
  }

  .contactLinks {
    display: flex;
    flex-direction: column;
    gap: 32px;
    a {
      text-decoration: none;
      color: $secondary;
      font-size: 20px;
      width: max-content;
      text-align: center;
     
      padding: 10px 0  0 0  ;
    }
  }
  .flows {
    width: 60%;
    height: 25%;
    grid-row: 5;
    grid-column: 1 / span 2;
color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    @include sm {
      grid-row: 6;
      width: 95%;
    }

    .flowsOne,
    .flowsTwo,
    .flowsThree {
      width: 8%;
      z-index: 60;
      @include md {
        width: 10%;
      }
      @include sm {
        width: 10%;
      }
    }
  }
}
