@import "../../styles/main.module.scss";

.contact {
  grid-column: 1 / span 2;
  grid-row: 5;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  z-index: 5;

  @include sm {
    grid-column: 1 / span 1;
    grid-row: 6;
  }

  .contactLinks {
    display: flex;
    flex-direction: column;
    gap: 32px;
    a {
      text-decoration: none;
      color: $darkOrange;
      font-size: 26px;
      width: 100%;
      text-align: center;
      border: 1px solid rgb(73, 73, 73);
      padding: 8px;
    }
  }
  .flows {
    width: 60%;
    height: 25%;
    grid-row: 5;
    grid-column: 1 / span 2;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    @include sm {
      grid-row: 6;
      width: 95%;
    }

    .flowsOne,
    .flowsTwo,
    .flowsThree {
      width: 8%;
      z-index: 60;
      @include md {
        width: 10%;
      }
      @include sm {
        width: 10%;
      }
    }
  }
}
