@import "../../styles/main.module.scss";

.contact {
  grid-column: 1 / span 2 ;
  grid-row: 5;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
 
 padding-bottom: $mn*5;
  z-index: 5;
  gap: 28px;
  @include breakpoint(800px) {
    
  }
  
  @include sm {
    grid-column: 1 / span 1 ;
 grid-row: 6;
 
  
 height: auto;

  }


    

    a {
      text-decoration: none;
      color: $darkOrange;
      font-size: 26px;
      width: 100%;
      text-align: center;
      @include box;
      padding: 8px;
    }
  
}
