@import "../../styles/main.module.scss";

nav {
  ul {
    display: flex;
    gap: 16px;
    flex-direction: column;
    position: fixed;

    a {
      background-color: $background;
      color: $secondary;
      font-size: 16px;
      &:hover {
        color: $primary;
      }
    }
  }
}
