@import "../../styles/main.module.scss";

nav {
  ul {
    display: flex;
    gap: 24px;
    flex-direction: column;
    position: fixed;

    a {
        background-color: $background;
      color: $secondary;
      font-size: 18px;
      &:hover {
        color: $primary;
      }
    }
  }
}
